@media(max-width: 84.375em){
  .sect-4 .container .box-img:nth-child(8){
    margin-top: 0;
  } 

  .sect-4 .container{
    row-gap: 4.4rem;
  }

  .sect-3 .container .box .ct {
    width: 75%;
  }

  footer .container .grid-box{
    gap: 3.2rem;
  }
}

@media(max-width: 78.125em){
  
  .sect-card .container .grid-box{
    grid-template-columns: repeat(3, 1fr);
  }

  .sect-card .container .card .btn-link-more{
    justify-content: space-around;
  }
}

@media(max-width: 75em){

  .same-2-3 .container .box .ct h1{
    font-size: 1.8rem;
  }

  .sect-3 .container .box .ct h1{
    font-size: 2.4rem !important;
  }

  .sect-3{
    padding: 3.2rem;
  }

  .sect-3 .container{
    column-gap: 3.2rem;
  }

  .sect-4{

    padding: 3.2rem;
  }

  .sect-4 .container{
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }

  .sect-4 .container .box-img,
  .sect-4 .container .box-ct{
    justify-self: center;
  }


  .sect-4 .container .box-img img{
    height: auto;
  }

/*=============== Không gian phòng khách ===============*/

  .sect-4 .container .box-img:nth-child(5){
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .sect-4 .container .box-ct:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: end;
  }

  /*=============== Đồ trang trí ===============*/

  .sect-4 .container .box-img:nth-child(6){
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: end;
    height: auto;
  }

  .sect-4 .container .box-ct:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 0;
  }

  /*=============== Không gian phòng ngủ ===============*/

  .sect-4 .container .box-img:nth-child(7){
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    align-self: start;
    margin-left: 0;
    width: 100%;
    height: auto;
  }

  .sect-4 .container .box-ct:nth-child(3){
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  /*=============== Không gian phòng ăn ===============*/

  .sect-4 .container .box-img:nth-child(8){
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    width: 100%;
  }

  .sect-4 .container .box-ct:nth-child(4){
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    width: 100%;
  }
}

@media(max-width: 69.75em){
  
  .sect-1 .container .tit p,
  .sect-1 .container .tit h1{
    font-size: 1.8rem;
  }
}

@media(max-width: 62.5em){
  .sect-card .container .grid-box{
    grid-template-columns: repeat(2, 1fr);
  }

  
  .sect-card .container .card .btn-link-more button,
  .sect-card .container .card .btn-link-more a{
    display: unset;
  }

  .sect-card .container .card .btn-link-more{
    justify-content: flex-end;
  }

  .sect-card .container .card .btn-link-more button{
    margin-right: 1.2rem;
  }
}

@media(max-width: 56.25em){
  html{
    font-size: 52%;
  }

  .sect-card .container .grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 50em){
  
  html{
    font-size: 62.5%;
  }

  .sect-1 .container .tit{
    top: 10%;
    left: 14%;
  }

  .sect-2 .container{
    grid-template-columns: 1fr;
  }

  .sect-3 .container{
    grid-template-columns: 1fr;
  }

  .sect-3 .container .box .ct{
    position: unset;
    margin-bottom: 3.2rem;
  }

  footer .container .grid-box{
    grid-template-columns: repeat(3, 1fr);
  }

  footer .container .grid-box .grid-item:last-child{
    grid-column: 1 / -1;
  }

  footer .container .grid-item:last-child .tit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  footer .container .grid-item:last-child ul li{
    text-align: center;
    margin: 1rem 0;
  }
}

@media(max-width: 43.75em){
  .sect-card .container .card .btn-link-more a{
    display: none;
  }
  
  .sect-card .container .card .btn-link-more{
    justify-content: center;
  }

  .sect-card .container .card .btn-link-more button{
    margin: 0;
  }
}

@media(max-width: 40.625em){
  .sect-3 .container .box .ct {
    width: 100%;
  }

  .sect-1 .container .tit p,
  .sect-1 .container .tit h1{
    font-size: 1.6rem;
  }

  .sect-1 .container .tit p{
    margin-bottom: 1.6rem;
  }

  .sect-1 .container .tit{
    left: 10%;
  }

  .sect-1 .container .tit a {
    font-size: 1.4rem;
    padding: 0.8rem 1.4rem;
  }

  .sect-4 .container{
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .sect-4 .container .box-ct,
  .sect-4 .container .box-img{
    grid-column: 1 / -1 !important;
    width: 100%;
    text-align: center;
  }

  .sect-4 .container .box-ct:nth-child(1){
    grid-row: 1 / 2;
  }

  .sect-4 .container .box-img:nth-child(5){
    grid-row: 2 / 3;
  }

  .sect-4 .container .box-ct:nth-child(2){
    grid-row: 3 / 4;
  }

  .sect-4 .container .box-img:nth-child(6){
    grid-row: 4 / 5;
  }

  .sect-4 .container .box-ct:nth-child(3){
    grid-row: 5 / 6;
  }

  .sect-4 .container .box-img:nth-child(7){
    grid-row: 6 / 7;
  }

  .sect-4 .container .box-ct:nth-child(4){
    grid-row: 7 / 8;
  }

  .sect-4 .container .box-img:nth-child(8){
    grid-row: 8 / 9;
  }

  footer .container .grid-box{
    grid-template-columns: repeat(2, 1fr);
  }

  footer .container .grid-item .tit{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .container .grid-box .grid-item{
    text-align: center;
  }
  
  footer .container .grid-box .grid-item:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  footer .container .grid-box .grid-item:nth-child(3){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  footer .container .grid-box .grid-item:nth-child(1){
    grid-column: span 2;
    grid-row: 2 / 3;
  }
}

@media(max-width: 37.5em){


  .sect-card .container .card .c-in .tit-c {
    padding-top: 3rem;
  }
}

@media(max-width: 34.375em){
  html{
    font-size: 44%;
  }
}

@media(max-width: 21.875em){
  html{
    font-size: 36%;
  }
}