
.sect-card{
  padding: 3.2rem;
}

.sect-card .container{
  max-width: 130rem;
  margin: auto;
}

.sect-card .container .tit{
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.sect-card .container .tit p{
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem 0;
  border-bottom: 2px solid #eee;
  margin-right: 2rem;
}

.sect-card .container .tit a{
  padding: 0 0.8rem;
  font-size: 1.6rem;
  color: #888;
  display: inline-flex;
}


.sect-card .container .box{
  margin: 3.2rem 0;
}

.sect-card .container .grid-box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.4rem 1.6rem;
}

.sect-card .container .grid-box .grid-box-item{
  position: relative;
  height: var(--height-scgr-5);
}


.sect-card .container .grid-box .card{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.4rem;
  border: 2px solid transparent;
  overflow: hidden;
}


.sect-card .container .grid-box .card:hover{
  border: 2px solid #eee;
  top: -1rem;
}

.sect-card .container .card .c-in .pic{
  position: relative;
  padding-bottom: 65%;
  /* height: var(--height-pic); */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}



.hide-an{
  animation: ani-hide-img ease .2s forwards;
}

.show-an{
  animation: ani-show-img linear .4s forwards;
}

.sect-card .container .card .c-in img{
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes ani-hide-img {
  0%{
    display: flex;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
    display: none;
  }
}


@keyframes ani-show-img {
  0%{
    display: none;
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
    display: flex;
  }
}


.sect-card .container .card .c-in .tit-c{
  max-width: 100%;
  font-size: 1.6rem;
  height: 3.2rem !important;
  line-height: 1.2;
  padding: 1rem 0;
  color: #555;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 2.4rem;
}

.sect-card .container .card .c-in .heart-prc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.sect-card .container .card .c-in .heart-prc ion-icon{
  font-size: 1.8rem;
  color: #555;
}

.sect-card .container .card .c-in .heart-prc p{
  flex: 1;
  text-align: end;
  font-size: 1.8rem;
  color: #333;
}

.sect-card .container .card .c-in .heart-prc p::after{
  content: "đ";
  text-decoration: underline;
}

.sect-card .container .card .btn-link-more{
  display: flex;
  justify-content: space-between;
}



.sect-card .container .card .btn-link-more button,
.sect-card .container .card .btn-link-more a{
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 1rem 1.4rem;
  text-transform: uppercase;
  border: none;
  border: 1px solid #333;
  cursor: pointer;
}



.sect-card .container .card .btn-link-more button{
  color: #333;
  background-color: #fff;
}

.sect-card .container .card .btn-link-more a{
  background-color: #333;
  color: #fff;
}


.sect-card .container .card .btn-link-more button:hover{
  background-color: #333;
  color: #fff;
}
