header{
  position: relative;
  padding: 1rem 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999999999;
  background-color: #fff;
}

header .logo{
  width: 6.4rem;
  border-radius: 1.2rem;
}

.d-none{
  display: none;
}

.nav-list{
  display: flex;
  list-style: none;
}

.nav-list .nav-item{
  margin: 1.2rem;
  position: relative;
}

header .s-log .log .go a,
.nav-list .nav-item a{
  display: flex;
  font-size: 1.8rem;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.nav-list .nav-item a:hover{
  text-decoration: underline;
}


header .s-log .log .go a:hover,
.nav-list .nav-item a:hover{
  color: #b17a29;
}


.nav-list .nav-item a .down-ic{
  margin-left: 0.2rem;
}

.nav-list .nav-item .prod{
  position: absolute;
  top: 100%;
  list-style: none;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: #eee;
}

.nav-list .nav-item .prod .prod--item{
  border-top: 1px solid #fcf5eb;
}

.nav-list .nav-item .prod .prod--item:first-child{
  border: none;
}


.nav-list .nav-item .prod .prod--item a{
  display: block;
  padding: 1rem 1.6rem;
  text-transform: none !important;
  font-weight: 400 !important;
  letter-spacing: 0.1rem;
  width: 15rem;
  z-index: 9999999;
}

.nav-list .nav-item .prod .prod--item a:hover{
  background-color: #fcf5eb;
  text-decoration: none !important;
}

header .s-log{
  display: flex;
  align-items: center;
}

header .s-log .s{
  position: relative;
  margin: 1rem;
}

header .s-log .s .c-in{
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0.2rem;
  background-color: #f1d6ad;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.d-flex{
  display: flex;
}

header .s-log .s .c-in{
  align-items: center;
}

header .s-log .s .c-in input{
  width: 24rem;
  padding: 0.6rem 0.8rem;
  font-size: 1.8rem;
  color: #555;
  border: none;
  outline: none;
  letter-spacing: 0.1rem;
  background-color: #eee;
  padding-right: 4.4rem;
}

header .s-log .s .c-in ion-icon{
  font-size: 3.2rem;
  color: #555;
  cursor: pointer;
}


header .s-log .s button{
  border: none;
  background-color: transparent;
}

header .s-log .cart ion-icon,
header .s-log .log .us ion-icon,
header .s-log .s .btn-ops{
  cursor: pointer;
  font-size: 3.2rem;
  color: #b17a29;
  padding: 0.8rem;
  border: 2px solid #b17a29;
  border-radius: 5rem;
  z-index: 9999;
}

header .s-log .cart ion-icon:hover,
header .s-log .log .us ion-icon:hover,
header .s-log .s ion-icon:hover{
  background-color: #b17a29;
  color: #fff;
}


header .s-log .s .c-in button{
  border: none;
  font-size: 1.8rem;
  color: #555;
  position: absolute;
  right: 3.2rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 0.6rem;
  cursor: pointer;
  height: 100%;
  background-color: #eee;
  z-index: 9;
}

header .s-log .s .c-in button:hover{
  background-color: #555;
  color: #eee;
}

header .s-log .cart{
  margin: 1rem;
  position: relative;
}

header .s-log .cart span{
  color: #fff;
  background-color: #333;
  width: 2.8rem;
  height: 2.8rem;
  text-align: center;
  line-height: 2.8rem;
  border-radius: 50%;
  font-size: 1.6rem;
  position: absolute;
  top: -0.3rem;
  left: -1.8rem;
}

header .s-log .log{
  list-style: none;
  position: relative;
}

header .s-log .log .us{
  margin: 1rem;
}

header .s-log .log .go {
  position: absolute;
  right: 0;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

header .s-log .log .go a{
  display: block;
  width: 12rem;
  padding: 1rem 1.2rem;
  font-size: 1.8rem;
  text-transform: none;
  border-top: 1px solid #fcf5eb;
  background-color: #eee;
}

header .s-log .log .go a:first-child{
  border: none;
}

header .s-log .log .go a:hover{
  background-color: #fcf5eb;
  text-decoration: none !important;
}